<!DOCTYPE HTML>
<html>
	<head>
		<title>Digital Drone Collective</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../public/assets/css/main.css" />
	</head>
	<body class="is-preload">

			<article id="top" class="wrapper style1">
				<div class="container">
					<div class="row">
						<div class="col-4 col-5-large col-12-medium">
							<span class="image"><img src="../public/images/groupshot--team.jpg" alt="" /></span>
						</div>
						<div class="col-8 col-7-large col-12-medium">
							<header>
								<h2>Hello. We're the <strong>Digital Drone Collective</strong>.</h2>
							</header>
							<p>We are a collaboration between Code for Canada (C4C) and Transport Canada Civil Aviation (CivAv) Remotely Piloted Aircraft Systems Task Force and Digital Services <a href="https://www.youtube.com/watch?v=WC8VIUN8FzM">tasked to prototype</a> digital tools to help drone pilots fly safely and in accordance with new regulations.</p>
						</div>
					</div>
				</div>
			</article>

			<article id="connect" class="wrapper style2">
				<div class="container">
					<header>
						<h2>Connect with us</h2>
						<p>We believe in working in the open and will actively share our journey with you.</p>
					</header>
					<div class="row aln-center">
						<div class="col-3 col-6-medium col-12-small">
							<section class="box style1">
								<span class="icon featured fa-comments-o"></span>
								<h3>Chat with us</h3>
								<p>Join our slack to collaborate with us in real time and join in on discussions.</p>
								<a href="https://transport-gc.slack.com/signup"><button class="action-button">Sign up!</button></a>
							</section>
						</div>
						<div class="col-3 col-6-medium col-12-small">
							<section class="box style1">
								<span class="icon featured fa-book"></span>
								<h3>Follow our journey</h3>
								<p>For daily updates, photos, and possibly some videos, check out our Tumblr.</p>
								<a href="https://digitaldronecollective.tumblr.com/"><button class="action-button">Follow</button></a>
							</section>
						</div>
						<div class="col-3 col-6-medium col-12-small">
							<section class="box style1">
								<span class="icon featured fa-edit"></span>
								<h3>Read our blogs</h3>
								<p>For long form, periodic updates on the project, read the Code for Canada blog.</a></p>
								<a href="https://medium.com/code-for-canada/"><button class="action-button">Read</button></a>
							</section>
						</div>
						<div class="col-3 col-6-medium col-12-small">
							<section class="box style1">
								<span class="icon featured fa-camera-retro"></span>
								<h3>See our photos</h3>
								<p>Check out our Flickr for a visual story and shared repository of photos of our project.</a></p>
								<a href="https://www.flickr.com/photos/digitaldronecollective/"><button class="action-button">See</button></a>
							</section>
						</div>
					</div>
				</div>
			</article>

			<article id="newsletter" class="wrapper style3">
				<div class="container">
					<header>
						<h2>Sign up for our newsletter</h2><span class="icon featured fa-newspaper"></span>
						<p>Since working in the open is so important, we're planning to have a weekly newsletter.<br />
						It will aggregate some of our project updates and content we'd like to share with you all.</p>
					</header>
					<div class="row">
						<div class="col-6 col-6-medium col-12-small">
							<span class="image"><img src="../public/images/team-working-together.jpg" alt="" /></span>
						</div>
						<div class="col-6 col-6-medium col-12-small">
							<section class="box style1">
								 <form action="https://tinyletter.com/digitaldronecollective" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/digitaldronecollective', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
								 	<p>
								 		<label for="tlemail">Enter your email address</label></p><p><input type="text" name="email" id="tlemail" />
								 	</p>
								 	<input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" />
								 </form>
								</section>
						</div>
					</div>


				</div>
			</article>

			<footer id="footer" class="wrapper style4">
				<div class="inner">
					<span>Digital Drone Collective 2018. All rights reserved.</span> <br />
					<span>This website is an alpha :) feedback is welcome!</span>
				</div>
			</footer>


		<!-- Scripts -->
			<script src="../public/assets/js/jquery.min.js"></script>
			<script src="../public/assets/js/jquery.scrolly.min.js"></script>
			<script src="../public/assets/js/browser.min.js"></script>
			<script src="../public/assets/js/breakpoints.min.js"></script>
			<script src="../public/assets/js/util.js"></script>
			<script src="../public/assets/js/main.js"></script>

	</body>
</html>
